/* Write your CSS here */
.navbar {
  display: flex;
  justify-content: space-around;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87%;
  max-width: 1149px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.website-logo {
  height: 50px;
  margin-left: 12px;
}
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.nav-menu-item {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
}

.list-text-light {
  color: #171f46;
}

.list-text-dark {
  color: #ffffff;
}

.nav-link {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.theme-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.theme-image {
  height: 32px;
}
.navbar-bg-dark {
  background-color: #333333;
}

.navbar-bg-light {
  background-color: #ffffff;
  border-bottom: 1px solid #dcdcdc;
  box-shadow: 0px 0px 0px 1px #dcdcdc;
}
